<div class="col-2 bg-light">
    <input class="form-control mr-sm-2" type="search" placeholder="ID">
</div>
<div class="col-4 bg-light">
    <input class="form-control mr-sm-2" type="search" placeholder="Name">
</div>
<div class="col-2 bg-light">
    <input class="form-control mr-sm-2" type="search" placeholder="Price">
</div>
<div class="col-2 bg-light">
    <input class="form-control mr-sm-2" type="search" placeholder="Quantity">
</div>
<div class="col-1 bg-light">
    <button type="button" class="btn btn-outline-danger">Delete</button>
</div>
<div class="col-1 bg-light">
    <button type="button" class="btn btn-outline-primary">Add</button>
</div>